* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  background-color: grey;
  border: 2px solid black;
  margin-bottom: 30px;
  height: 220px;
}

p {
  width: 90%;
  padding: 1px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  clear: right;
  text-align: left;
}

h2 {
  border: 2px solid black;
  margin-top: -2px;
  margin-bottom: 10px;
  margin-right: -1px;
  padding-top: 1px;
  float: right;
  height: 30px;
  width: 120px;
  text-align: center;
}

#Chicken {
  background-color: pink;
}

#Beef {
  background-color: red;
}

#Sushi {
  background-color: yellow;
}


.row {
  width: 100%;
}


@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    margin-left: 2.5%;
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-a {
    float: left;
    margin-left: 5%;
    width: 42.5%;
  }
  .col-md-b {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}